.message {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #111;
  font-size: 15px;
  margin-right: auto;
  margin-left: 0;
  width: fit-content;
  max-width: 49%;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message--sender {
  margin-right: 0;
  margin-left: auto;
}

.message__avatar {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: auto;
}

.message__username {
  margin-bottom: 3px;
}

.message__timestamp {
  color: #808080;
  font-size: 12px;
  font-weight: 300;
  margin-left: 3px;
}

.message__text {
  word-break: break-all;
}
